.items-wrapper {
  background-color:  rgb(245, 245, 245);
  height: 100%;
  .items-top {
    background-color: rgb(245, 245, 245);
    height: 128px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &-logo{
      height: 49px;
      width: 185px;
    }
  }
  .items-main {
    background-color: rgb(245, 245, 245);
    &__images {
      background-color: #ffffff;
      height: 220px;
      width: 620px;
      margin: 0 auto;
      padding: 40px;
      border-bottom: 1px solid #efefef;
      &__texts {
        display: flex;
        &__text1 {
          font-size: 14px;
          font-weight: 600;
          padding-right: 8px;
        }
        &__text2 {
          background-color: #ff0211;
          color:#ffffff;
          font-size: 12px;
          padding: 0 4px;
        }
      }
      &__text3 {
        font-size: 14px;
        margin-top: 16px;
        margin-bottom: 16px;
      }
      .form {
        height: 150px;
        width: 100%;
        align-content: center;
        -webkit-box-align: center;
        align-items: center;
        background-color: #222;
        cursor: pointer;
        display: flex;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        justify-content: center;
        position: relative;
        border-width: 1px;
        border-style: dashed;
        border-color: rgb(204, 204, 204);
        border-image: initial;
        transition: all 0.5s ease-out 0s;
        .images-file-open {
          display: none;
          .hidden {
            display: none;
          }
        }
        .images-file-icon1 {
          fill: rgb(34, 34, 34);
          height: 24px;
          margin-bottom: 8px;
          width: 24px;
        }
        .images-form-texts {
          font-size: 12px;
          line-height: 1.4em;
          text-align: center;
          width: 100%;
          color: #ffffff;
        }
      }
    }
    &__introduction {
      background-color: #ffffff;
      height: 371px;
      width: 620px;
      margin: 0 auto;
      padding: 40px;
      border-bottom: 1px solid #efefef;
      &__texts {
        display: flex;
        &__text1 {
          font-size: 14px;
          font-weight: 600;
          padding-right: 8px;
        }
        &__text2 {
          background-color: #ff0211;
          color:#ffffff;
          font-size: 12px;
          padding: 0 4px;
        }
      }
      &__name {
        margin-top: 16px;
        .namebox-input {
          height: 48px;
          width: 602px;
          padding-left: 16px;
          border: 1px solid #ccc;
        }
      }
      &__texts2 {
        display: flex;
        &__text1 {
          margin-top: 32px;
          font-size: 14px;
          font-weight: 600;
          padding-right: 8px;
        }
        &__text2 {
          margin-top: 32px;
          background-color: #ff0211;
          color:#ffffff;
          font-size: 12px;
          padding: 0 4px;
        }
      }
      &__form {
        margin-top: 16px;
        .introduction-input {
          padding-top: 16px;
          height: 200px;
          width: 602px;
          padding-left: 16px;
          border: 1px solid #ccc;
        }
      }
      &__count {
        text-align: right;
        color: #888888;
        line-height: 1.4em;
      }
    }
    &__details {
      background-color: #ffffff;
      height: 364px;
      width: 620px;
      margin: 0 auto;
      padding: 40px;
      border-bottom: 1px solid #efefef;
      &__text1 {
        color: rgb(136, 136, 136);
      font-size: 14px;
      font-weight: 600;
      line-height: 1.4em;
      margin-bottom: 24px;
      }
      &__texts {
        display: flex;
        &__text2 {
          font-size: 14px;
          font-weight: 600;
          padding-right: 8px;
        }
        &__text3 {
          background-color: #ff0211;
          color:#ffffff;
          font-size: 12px;
          padding: 0 4px;
        }
      }
      &__select {
        margin-top: 16px;
        &__category {
          position: relative;
          .details-category {
            background-color: #fff;
            width: 620px;
            color: #222;
            font-size: 16px;
            height: 48px;
            padding-left: 16px;
            border: 1px solid #ccc;
            -webkit-appearance: none;
          }
          .details-category-select {
            bottom: 0;
            margin: auto;
            pointer-events: none;
            position: absolute;
            right: 16px;
            top: 0;
          }
        }
        &__texts2 {
          display: flex;
          &__text4 {
            margin-top: 32px;
            font-size: 14px;
            font-weight: 600;
            padding-right: 8px;
          }
          &__text5 {
            margin-top: 32px;
            background-color: #bfbfbf;
            color:#ffffff;
            font-size: 12px;
            padding: 0 4px;
          }
        }
        &__brand {
          .brandname-input {
            margin-top: 16px;
            height: 48px;
            width: 602px;
            padding-left: 16px;
            border: 1px solid #ccc;
          }
        }
        &__texts3 {
          display: flex;
          &__text6 {
            margin-top: 32px;
            font-size: 14px;
            font-weight: 600;
            padding-right: 8px;
            margin-bottom: 16px;
          }
          &__text7 {
            margin-top: 32px;
            background-color: #ff0211;
            color:#ffffff;
            font-size: 12px;
            padding: 0 4px;
            margin-bottom: 16px;
          }
        }
        &__condition {
          position: relative;
          .details-condition {
            background-color: #fff;
            width: 100%;
            color: #222;
            font-size: 16px;
            height: 48px;
            padding-left: 16px;
            border: 1px solid #ccc;
            -webkit-appearance: none;
          }
          .details-condition-select {
            bottom: 0;
            margin: auto;
            pointer-events: none;
            position: absolute;
            right: 16px;
            top: 0;
          }
      }
    }
  }
    &__delivery {
      background-color: #ffffff;
      height: 364px;
      width: 620px;
      margin: 0 auto;
      padding: 40px;
      border-bottom: 1px solid #efefef;
      &__texts {
        display: flex;
        &__text1 {
          font-size: 14px;
          font-weight: 600;
          padding-right: 8px;
          margin-bottom: 32px;
          color: rgb(136, 136, 136);
        }
        .dilivery-Q {
          fill: rgb(0, 149, 238);
          height: 16px;
          margin-left: 4px;
          vertical-align: -3px;
          width: 16px;
        }
      }
      &__texts2 {
        display: flex;
        &__text2 {
          // margin-top: 32px;
          font-size: 14px;
          font-weight: 600;
          padding-right: 8px;
          // margin-bottom: 16px;
        }
        &__text3 {
          background-color: #ff0211;
          color:#ffffff;
          font-size: 12px;
          padding: 0 4px;
        }
      }
      &__select {
        margin-top: 16px;
        &__fee {
          position: relative;
          .delivery-fee {
            background-color: #fff;
            width: 100%;
            color: #222;
            font-size: 16px;
            height: 48px;
            padding-left: 16px;
            border: 1px solid #ccc;
            -webkit-appearance: none;
          }
          .delivery-fee-select {
            bottom: 0;
            margin: auto;
            pointer-events: none;
            position: absolute;
            right: 16px;
            top: 0;
          }
        }
      }
      &__texts3 {
        display: flex;
        &__text4 {
          margin-top: 32px;
          font-size: 14px;
          font-weight: 600;
          padding-right: 8px;
        }
        &__text5 {
          margin-top: 32px;
          background-color: #ff0211;
          color:#ffffff;
          font-size: 12px;
          padding: 0 4px;
        }
      }
      &__select2 {
        margin-top: 16px;
        &__area {
          position: relative;
          .delivery-area {
            background-color: #fff;
            width: 100%;
            color: #222;
            font-size: 16px;
            height: 48px;
            padding-left: 16px;
            border: 1px solid #ccc;
            -webkit-appearance: none;
          }
          .delivery-area-select {
            bottom: 0;
            margin: auto;
            pointer-events: none;
            position: absolute;
            right: 16px;
            top: 0;
          }
        }
      }
      &__texts4 {
        display: flex;
        &__text6 {
          margin-top: 32px;
          font-size: 14px;
          font-weight: 600;
          padding-right: 8px;
        }
        &__text7 {
          margin-top: 32px;
          background-color: #ff0211;
          color:#ffffff;
          font-size: 12px;
          padding: 0 4px;
        }
      }
      &__select3 {
        margin-top: 16px;
        &__days {
          position: relative;
          .delivery-days {
            background-color: #fff;
            width: 100%;
            color: #222;
            font-size: 16px;
            height: 48px;
            padding-left: 16px;
            border: 1px solid #ccc;
            -webkit-appearance: none;
          }
          .delivery-days-select {
            bottom: 0;
            margin: auto;
            pointer-events: none;
            position: absolute;
            right: 16px;
            top: 0;
          }
        }
      }
    }
    &__price {
      background-color: #ffffff;
      height: 190px;
      width: 620px;
      margin: 0 auto;
      padding: 40px;
      &__limit {
        color: rgb(136, 136, 136);
        font-size: 14px;
        font-weight: 600;
        line-height: 1.4em;
        margin-bottom: 24px;
      }
      .price__limit__select {
        fill: rgb(0, 149, 238);
        height: 16px;
        margin-left: 4px;
        vertical-align: -3px;
        width: 16px;
      }
      &__prices {
        // margin-bottom: 40px;
        &__form {
          -webkit-box-align: center;
          align-items: center;
          box-sizing: content-box;
          display: flex;
          height: 46px;
          &__balance {
            margin-right: auto;
            white-space: nowrap;
            .texts {
              &__text1 {
                margin-top: 32px;
                font-size: 14px;
                font-weight: 600;
                padding-right: 8px;
              }
              &__text2 {
                margin-top: 32px;
                background-color: #ff0211;
                color:#ffffff;
                font-size: 12px;
                padding: 0 4px;
                margin-right: 310px;
              }
            }
          }
          &__text3 {
            font-size: 14px;
            margin-right: 8px;
          }
          &__numbers {
            align-items: center;
            display: inline-flex;
            width: 100%;
            &__inputarea {
              .numbers__inputarea {
                height: 44px;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
                font-family: inherit;
                font-size: inherit;
                margin: 0;
                outline: none;
                padding-right: 16px;
                width: 191px;
                text-align: right;
              }
            }
          }
        }
        .texts5 {
          -webkit-box-align: center;
          align-items: center;
          box-sizing: content-box;
          display: flex;
          height: 46px;
          margin-top: 16px;
          &__text8 {
            margin-right: auto;
            white-space: nowrap;
            font-size: 14px;
            margin-bottom: 16px;
          }
          &__text9 {
            font-size: 14px;
            margin-bottom: 16px;
          }
        }
        .texsts-bar {
          border-top-color: #efefef;
          border-left: 0 solid #efefef;
          border-bottom: 0 solid #efefef;
          border-right: 0 solid #efefef;
          border-top-style: solid;
          margin: 0;
        }
        .texts6 {
          margin-top: 16px;
          font-size: 14px;
          -webkit-box-align: center;
          align-items: center;
          box-sizing: content-box;
          display: flex;
          height: 46px;
          &__text10 {
            margin-right: auto;
            white-space: nowrap;
            font-size: 14px;
            margin-bottom: 16px;
          }
          &__text11 {
            font-size: 14px;
            margin-bottom: 16px;
          }
        }
      }
    }
    &__btns {
      background-color: #ffffff;
      height: 240px;
      width: 620px;
      margin: 0 auto;
      padding: 40px;
      &__list {
        display: flex;
        flex-direction: column;
        text-align: center;
        &__1 {
          background-color: #ea352d;
          color: #fff;
          height: 48px;
          width: 360px;
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
        &__2 {
          background-color: #ccc;
          border-color: transparent;
          color: #222;
          height: 48px;
          width: 360px;
          display: block;
          margin-left: auto;
          margin-right: auto;
          margin-top: 24px;
        }
        &__3 {
          color: #0095ee;
          margin-top: 24px;
        }
      }
      &__attention {
        font-size: 12px;
        line-height: 1.4em;
        margin-top: 24px;
      }
    }
  }
}

.items-footer {
  width: 100%;
  height: 150px;
  margin: 0 auto;
  padding: 40px 0 41px 0;
  background-color: whitesmoke;
}
.items-nuv {
  // display: flex;
  margin-bottom: 50px;
  text-align: center;
}
.items-nuv li {
  display: inline;
    margin-right: 30px;
    font-size: 14px;
    color: black;
}
.itemsFooter__title-img {
  // background-color: red;
  height: 50px;
  width: 150px;
  align-items: center;
  display: block;
  margin: auto;
}
